html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.map-home {
	height: 90%;
}

.footer {
	background-color: #212121;
	width: 100%;
	height: 10%;
	float: left;
	padding-top: 20px;
	color: white;
}

.footer ul li a {
	color: white;
}

.btn-pink {
	color: #FFF;
	background-color: #f50057;
	border-color: #ad1457;
}

.btn-pink:hover {
	color: #FFF;
	background-color: #ad1457;
	border-color: #ad1457;
}

.header{
	height: 10%;
	background-color: #212121;
}

.map{
	height: 80%;
}


